.bg {
	height: 100%;
	position: fixed;
	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(#00b09b, #96c93d);
	background: -moz-linear-gradient(#00b09b, #96c93d);
	background: -ms-linear-gradient(#00b09b, #96c93d);
	background: -o-linear-gradient(#00b09b, #96c93d);
	background: linear-gradient(#00b09b, #96c93d);
}

.bg-inner {
	background: #ecf0f1;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 5em;
	padding-bottom: 5em;
}

.center-vertical {
	padding-top: 5em;
}

.title-text {
	font-weight: lighter;
	font-family: bookman;
	font-size: 3em;
	color: #ecf0f1;
}

.button-divider {
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 2em;
}

.btn-calculate {
  color: #fff;
  background-color: #00b09b;
  border-color: #00b09b;
}
.btn-calculate:hover {
  color: #fff;
  background-color: #007b6c;
  border-color: #00584d;
}
.btn-calculate:focus, .btn-calculate.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 88, 77, 0.50);
}